html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav {
	border-bottom: 2px solid #e8e8e8;
	text-align: right;
	height: 50px;
	position: relative;
	background-color: #ededed;
	padding-top: 10px;
	padding-right: 10px;
	font-size: 20px;
	font-weight: 500;
}

a {
	text-decoration: none;
}

.logo {
	position: absolute;
	left: 10px;
	color: black;
	font-weight: 600;
}

.menu-item {
	padding-right: 8px;
	padding-top: 5px;
	padding-left: 5px;
}