html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav {
	border-bottom: 2px solid #e8e8e8;
	text-align: right;
	height: 50px;
	position: relative;
	background-color: #ededed;
	padding-top: 12px;
	padding-right: 10px;
	font-size: 20px;
	font-weight: 500;
}

a {
	text-decoration: none;
}

.logo {
	position: absolute;
	left: 10px;
	color: black;
	font-weight: 600;
}

.menu-item {
	padding-right: 8px;
	padding-top: 5px;
	padding-left: 5px;
}

#searchbox {
	position: relative;
	top: 45px;
	left: 100px;
	padding: 5px 0 0 0;
	vertical-align: middle;

}

#search {
	height: 30px;
	width: 450px;
	float: left;
	border-radius: 4px;
}

#search-button {
	height: 40px;
	width: 40px;

	border: 1px solid black;
	border-radius: 4px;
}